---
---

@import "base/normalize";
@import "bootstrap/grid";

@import "base/base";
@import "base/ie8";
@import "font/font-awesome";

@import "layout/header";
@import "layout/main";
@import "layout/footer";

@font-face {
	font-family: 'Noto Sans KR';
	src: url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100&display=swap');
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: 'Noto Sans KR';
}